:root {
    --primaryColor: #207da1;
    --secondaryColor: #c0c0c0;
    --secondaryTextColor: #d57c44;
}
.contactUs {
    margin: 100px 0;
}
.contactUs .submit-button {
    margin-right: auto;
    min-width: 120px;
    padding: 8px;
}

.contactUs .title_section {
    color: var(--secondaryTextColor);
    margin-bottom: 40px;
}
.contactUs-form {
    border: 8px solid #cde2ea;
    padding: 40px 30px;
}
.text-input-block {
    margin-bottom: 20px;
}
.contactUs-form .text-input-block textarea,
.contactUs-form .text-input-block input {
    border-bottom: 1px solid var(--secondaryTextColor);
    padding: 5px;
}
.contactUs-form .text-input-block textarea {
    min-height: 100px;
    resize: auto;
    width: 100% !important;
}
.contactUs-form .text-input-block label {
    color: #d57c447a;
    font-weight: bold;
}
.contactUs .location-content {
    border: 8px solid #f5e1d5;
    padding: 19px 15px;
    position: relative;
}
.contactUs .location .location-main-img {
    width: 100%;
    margin-bottom: -8px;

    z-index: 999;
    position: relative;
}
.location-item {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    margin-bottom: 15px;
    color: var(--secondaryColor);
}
.location-item img {
    width: 18px;
}
.contactUs .location ul {
    position: absolute;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    width: 60%;
    left: calc(50% - 186px);
    color: var(--secondaryTextColor);
    font-size: 20px;
    transition: ease-in-out 0.3s;
}
.contactUs .location ul i {
    transition: ease-in-out 0.3s;
}
.contactUs .location ul i:hover {
    color: var(--primaryColor);
    transition: ease-in-out 0.3s;
}
.ContactUsPage .title_section h4,
.ContactUsPage .title_section h3 {
    color: #fff;
}
@media only screen and (max-width: 1400px) {
    .contactUs .location-content {
        padding: 38px 15px;
    }
    .contactUs .location ul {
        left: calc(50% - 159px);
    }
}

@media only screen and (max-width: 1200px) {
    .contactUs .location-content {
        padding: 47px 15px;
    }
    .contactUs .location ul {
        left: calc(50% - 132px);
    }
}
@media only screen and (max-width: 992px) {
    .contactUs-form .text-input-block textarea {
        min-height: 60px;
    }
    .contactUs .location .location-main-img {
        height: 160px;
    }
    .contactUs .location ul {
        left: calc(50% - 96px);
    }
}
@media only screen and (max-width: 767px) {
    .contactUs-form {
        margin-bottom: 15px;
    }
    .contactUs .location ul {
        left: calc(50% - 150px);
    }
}
@media only screen and (max-width: 576px) {
    .contactUs .location ul {
        width: 160px;
        left: calc(50% - 80px);
    }
    .contactUs {
        margin: 50px 0;
    }
}
@media only screen and (max-width: 425px) {
}
@media only screen and (max-width: 375px) {
}
